$direction:rtl;
$right:right;
$left:left;
$senter:center;
$overflow: hidden;
$lineheight:30px;
$fontsize :18px;
$fontlurg :30px;
$none:none;
$inline: inline-block;
$block: block;
$fixed: fixed;
$zindex:1000;
$zero:0px;
$white:#fff;
$blue:#3D65FF;
$dark:#05283f;
$moov:#b51f76;
$pink:#f7b6b4;
$red:#EA1C25;
$green: #007428;
$gray:#1E1E1E;
$yellow: #FBBD2C;
$orange:#F48220;
// $beige:#E4B24B;
$beige:#a6844f;
$colortext:#666E82;
$color-input:#dfdfdf;
$colorselect:#c9c9c9;
$burgundy:#832339;
$blak:#000;
$color:#9EA0A5;
$ofwhite:#F7F6F6;
$minmargin:15px;
$maxmargin:30px;
$fullwidth:100%;
$com-spacing-1:4px;
$com-spacing-2:8px;
$com-spacing-3:12px;
$com-spacing-4:16px;
$com-spacing-5:20px;
$com-spacing-6:24px;
$com-spacing-7:32px;
$com-spacing-8:48px;
$com-spacing-9:64px;
$auto:auto;
$transparent:transparent;
$social: facebook #3b5998,
twitter #00acee,
instagram #8d5b46,
youtube #c4302b,
rss #ee802f,
linkedin #007fb1,
gplus #dd4b39,
whatsapp #189d0e,
snapchat #e2df01,
telegram #32afed;