.about {
    @include section;
    .item {
        @media (max-width: 999px) {
            max-width: $fullwidth;
            flex: $fullwidth;
        }
        &:first-child {
            padding-right: 76px;
            @media (max-width: 999px) {
                padding-right: $com-spacing-3;
            }
        }
        &:last-child {
            display: flex;
            justify-content: flex-end;
            padding-left: 76px;
            @media (max-width: 999px) {
                padding-left: $com-spacing-3;
                justify-content: flex-start;
            }
        }
        .bottom {
            margin-top: 46px;
            @media (max-width: 999px) {
                margin-top: $com-spacing-3;
            }
        }
        .subtext {
            display: block;
            color: $orange;
            font-size: 32px;
            margin-bottom: $com-spacing-4;
            @media (max-width: 999px) {
                font-size: 14px;
                margin-bottom: $com-spacing-3;
            }
        }
        .title {
            font-size: 60px;
            margin-bottom: $com-spacing-6;
            @media (max-width: 1199px) {
                font-size: 46px;
            }
            @media (max-width:999px) {
                font-size: 20px;
                margin-bottom: $com-spacing-3;
            }
        }
        p {
            padding-left: 90px;
            @media (max-width: 1199px) {
                padding-left: $com-spacing-5;
            }
            @media (max-width: 999px) {
                padding: $zero;
                font-size: 14px;
            }
        }
    }
    .images {
        position: relative;
        width: $fullwidth;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 400px;
        margin-top: 290px;
        padding: $zero $com-spacing-9;
        @media (max-width: 999px) {
            display: block;
            padding: $zero;
            margin: $zero;
            height: auto;
        }
        &::before {
            content: "";
            position: absolute;
            right: $zero;
            top: $zero;
            width: 50%;
            height: $fullwidth;
            background: $blue;
            z-index: -1;
            border-radius: $zero 24px 24px $zero;
            @media (max-width: 999px) {
                display: none;
            }
        }
        &::after {
            content: "";
            position: absolute;
            left: $zero;
            top: $zero;
            width: 50%;
            height: $fullwidth;
            background: $orange;
            z-index: -1;
            border-radius: 24px $zero $zero 24px;
            @media (max-width: 999px) {
                display: none;
            }
        }
        .slanted-section {
            position: absolute;
            right: 42%;
            top: $zero;
            width: 440px;
            height: $fullwidth;
            background: url(../images/bg.png) no-repeat center center;
            @media (max-width: 999px) {
                display: none;
            }
        }
        .photo {
            position: relative;
            min-width: 43%;
            max-width: 43%;
            height: 514px;
            border-radius: 24px;
            margin-bottom: 92px;
            z-index: 1;
            overflow: hidden;
            @media (max-width: 999px) {
                min-width: $fullwidth;
                max-width: $fullwidth;
                height: 312px;
                margin-top: $com-spacing-6;
            }
            img {
                width: $fullwidth;
                height: $fullwidth;
                object-fit: cover;
                object-position: center;
            }
            &:last-child {
                min-width: 52%;
                max-width: 52%;
                height: 650px;
                margin-bottom: 92px;
                @media (max-width: 999px) {
                    min-width: $fullwidth;
                    max-width: $fullwidth;
                    height: 312px;
                    margin: $zero;
                    margin-top: $com-spacing-6;
                }
            }
        }
    }
}

.numbers {
    display: flex;
    justify-content: space-between;
    padding: 84px $zero;
    border-bottom: 1px solid #D5DFF0;
    @media (max-width: 999px) {
        justify-content: flex-start;
        flex-wrap: wrap;
        @media (max-width: 999px) {
            padding: $com-spacing-2 $zero $com-spacing-6 $zero;
        }
    }
    .innernumber {
        @media (max-width: 999px) {
            min-width: 33.333%;
            max-width: 33.333%;
        }
        .timer {
            font-size: 68px;
            font-weight: 700;
            text-align: center;
            color: $blak;
            @media (max-width: 1199px) {
                font-size: 46px;
            }
            @media (max-width: 999px) {
                font-size: 28px;
            }
        }
        .flex {
            @include flex;
            @media (max-width: 999px) {
                margin-top: $com-spacing-3;
            }
            span {
                display: block;
                margin-left: $com-spacing-1;
                font-size: 68px;
                font-weight: 700;
                color: $orange;
                @media (max-width: 1199px) {
                    font-size: 46px;
                }
                @media (max-width: 999px) {
                    font-size: 20px;
                }
            }
        }
        .title {
            font-size: 18px;
            color: $colortext;
            margin-top: $com-spacing-6;
            text-align: center;
            @media (max-width: 999px) {
                font-size: 14px;
                margin-top: $com-spacing-1;
                br {
                    display: none
                }
            }
        }
    }
}

.newspapers {
    @include section;
    // .container {
    //     z-index: 2;
    //     @media (max-width: 999px) {
    //         padding: $zero;
    //         max-width: $fullwidth;
    //     }
    // }
    // .row {
    //     height: $fullwidth;
    // }
    .carousel {
        position: relative;
        width: $fullwidth;
        height: 542px;
        border-radius: 24px;
        margin-top: $com-spacing-6;
        overflow: hidden;
        @media (max-width: 999px) {
            height: 760px;
            border-radius: $zero;
        }
        .carousel-inner,
        .carousel-item {
            height: $fullwidth;
        }
        .slid-img {
            position: absolute;
            left: $zero;
            top: $zero;
            width: $fullwidth;
            height: $fullwidth;
            img {
                width: $fullwidth;
                height: $fullwidth;
                object-fit: cover;
            }
            &::after {
                @include overlay;
            }
            &.blue {
                &::after {
                    // background: linear-gradient(180deg, rgba(13, 14, 17, 0.14) 0%, #0095DA 100%);
                    background: linear-gradient(180deg, rgba(190, 190, 190, 0.1) 0%, rgba(222, 222, 222, 0.66249) 57.34%, rgba(95, 170, 204, 0.88) 79.52%, #0095DA 100%);
                }
            }
            &.red {
                &::after {
                    // background: linear-gradient(180deg, rgba(0, 0, 0, 0.14) 0%, #D71920 100%);
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.14) 0%, #F8C55C 100%);
                }
            }
            &.yellow {
                &::after {
                    background: linear-gradient(180deg, rgba(0, 0, 0, 0.14) 0%, #EEA616 100%);
                }
            }
        }
        .item {
            display: flex;
            align-items: flex-end;
            position: relative;
            padding: $zero $com-spacing-8 $com-spacing-8 $zero;
            max-width: 40%;
            height: $fullwidth;
            z-index: 1;
            @media (max-width: 999px) {
                max-width: $fullwidth;
                padding: $zero $com-spacing-3 $com-spacing-6 $com-spacing-3;
            }
            .logo {
                margin-bottom: $com-spacing-6;
                img {
                    max-width: 256px;
                }
            }
            p {
                color: $white;
                @media (max-width: 999px) {
                    font-size: 14px;
                }
            }
            .more {
                margin-top: $com-spacing-6;
            }
        }
        .carousel-indicators {
            padding: $zero;
            margin: $zero;
            right: auto;
            left: $com-spacing-7;
            bottom: $com-spacing-8;
            // width: 60%;
            justify-content: flex-end;
            @media (max-width: 1199px) {
                // width: 56%;
            }
            @media (max-width: 999px) {
                width: $fullwidth;
                bottom: auto;
                top: $com-spacing-8;
                left: $zero;
                overflow: hidden;
                overflow-x: scroll;
                justify-content: flex-start;
                padding: 108px $com-spacing-6 54px $com-spacing-6;
                &::-webkit-scrollbar {
                    width: $zero;
                    height: $zero;
                }
            }
            li {
                position: relative;
                display: block;
                margin: $zero 5px;
                background: $white;
                border-radius: 12px;
                height: 172px;
                min-width: 160px;
                max-width: 160px;
                @include transition(all 0.5s ease-in-out 0s);
                @media (max-width: 999px) {
                    // min-width: 230px;
                }
                &.active {
                    // height: 244px;
                    transform: scale(1.2);
                    margin: $zero $com-spacing-7;
                    @include prefixer (box-shadow, 4px 4px 20px #00000073, webkit moz o ms);
                    z-index: 10;
                    .photo {
                        height: 250px;
                        img {
                            max-width: $fullwidth;
                        }
                    }
                }
                &:hover {
                    .photo {
                        height: 250px;
                    }
                }
                .photo {
                    position: absolute;
                    bottom: $com-spacing-6;
                    @include flex;
                    width: $fullwidth;
                    padding: $com-spacing-3;
                    padding-bottom: $zero;
                    height: 175px;
                    @include transition(all 0.5s ease-in-out 0s);
                    img {
                        max-width: 123px;
                        max-height: $fullwidth;
                    }
                }
                .sublogo {
                    position: absolute;
                    left: $zero;
                    bottom: $zero;
                    @include flex;
                    width: $fullwidth;
                    height: 80px;
                    padding: $com-spacing-4;
                    background: linear-gradient(90deg, #d4cfd0 0%, #f1f1f1 15.03%, #dddadb 84.79%, #d4cfd0 100%);
                    border-radius: 12px;
                    img {
                        max-width: $fullwidth;
                        max-height: $fullwidth;
                    }
                }
            }
        }
    }
}

.parallax-image {
    position: absolute;
    top: $zero;
    left: $zero;
    width: $fullwidth;
    height: $fullwidth;
    background: $ofwhite;
    overflow: hidden;
    img {
        position: absolute;
        top: $zero;
        left: $zero;
        width: $fullwidth;
        height: $fullwidth;
        object-fit: cover;
    }
}

.subsidiaries {
    @include section;
    .container {
        z-index: 2;
        @media (max-width: 999px) {
            max-width: $fullwidth;
        }
    }
    .row {
        height: $fullwidth;
    }
    .innernewspapers {
        position: relative;
        width: $fullwidth;
        height: 542px;
        border-radius: 24px;
        margin-top: $com-spacing-6;
        padding: $com-spacing-8;
        overflow: hidden;
        @media (max-width: 999px) {
            height: auto;
            padding: $com-spacing-9 $com-spacing-3;
        }
    }
    .carousel {
        position: relative;
        width: $fullwidth;
        height: 542px;
        border-radius: 24px;
        background: #F3F4F6;
        margin-top: $com-spacing-6;
        overflow: hidden;
        @media (max-width: 999px) {
            height: auto;
            // border-radius: $zero;
        }
        &:hover {
            .carousel-control-next {
                right: $com-spacing-6;
            }
            .carousel-control-prev {
                left: $com-spacing-6;
            }
        }
        .carousel-inner,
        .carousel-item {
            height: $fullwidth;
        }
        .item {
            display: flex;
            align-items: center;
            height: $fullwidth;
            &:first-child {
                padding: $zero $com-spacing-8;
                @media (max-width: 999px) {
                    // display: none;
                    // order: -1;
                    text-align: center;
                    padding: $com-spacing-8 $com-spacing-6;
                }
            }
            @media (max-width: 999px) {
                max-width: $fullwidth;
                flex: $fullwidth;
                &:last-child {
                    display: none;
                }
            }
            .slid-img {
                width: 90%;
                height: $fullwidth;
                border-radius: 0px 90px 90px 0px;
                margin-right: 10%;
                overflow: hidden;
                img {
                    width: $fullwidth;
                    height: $fullwidth;
                    object-fit: cover;
                }
                // &::after {
                //     @include overlay;
                // }
                // &.blue {
                //     &::after {
                //         background: linear-gradient(180deg, rgba(13, 14, 17, 0.14) 0%, #0095DA 100%);
                //     }
                // }
                // &.red {
                //     &::after {
                //         background: linear-gradient(180deg, rgba(0, 0, 0, 0.14) 0%, #D71920 100%);
                //     }
                // }
                // &.yellow {
                //     &::after {
                //         background: linear-gradient(180deg, rgba(0, 0, 0, 0.14) 0%, #EEA616 100%);
                //     }
                // }
                // &.run {
                //     &::after {
                //         background: linear-gradient(180deg, rgba(255, 255, 255, 0.44) 0%, #060606 100%);
                //     }
                // }
            }
            .logo {
                margin-bottom: $com-spacing-3;
                img {
                    max-width: 256px;
                }
                @media (max-width: 999px) {
                    text-align: center;
                }
            }
            p {
                margin-top: $com-spacing-6;
                color: $blak;
                @media (max-width: 999px) {
                    font-size: 14px;
                    text-align: center;
                    br {
                        display: none;
                    }
                }
            }
        }
        .rowcompany {
            display: flex;
            width: $fullwidth;
            @media (max-width: 999px) {
                display: none;
                padding: $com-spacing-8 $zero;
                overflow-x: scroll;
                &::-webkit-scrollbar {
                    width: $zero;
                    height: $zero;
                }
            }
            .inner {
                position: relative;
                display: block;
                margin: $com-spacing-8 $zero $zero $com-spacing-6;
                padding: $com-spacing-5 $com-spacing-3;
                border-radius: 12px;
                border: 1px solid #9DA9B5;
                height: 178px;
                min-width: calc(33.333% - 10px);
                text-align: center;
                overflow: hidden;
                @include transition(all 0.5s ease-in-out 0s);
                &::last-child {
                    margin-left: $zero;
                }
                @media (max-width: 999px) {
                    // min-width: 230px;
                    margin: $com-spacing-6 $zero $zero $com-spacing-4;
                    &::last-child {
                        margin-left: $zero;
                    }
                }
                .icon {
                    @include flex;
                    width: $fullwidth;
                    height: 68px;
                    img,
                    svg {
                        max-width: 68px;
                        max-height: 68px;
                    }
                }
                .title {
                    font-size: 15px;
                    line-height: 20px;
                    text-align: center;
                    margin-top: $com-spacing-6;
                    @include transition(all 0.5s ease-in-out 0s);
                }
            }
        }
        .rowitems {
            display: flex;
            width: $fullwidth;
            @media (max-width: 999px) {
                padding: $com-spacing-8 $zero;
                overflow-x: scroll;
                &::-webkit-scrollbar {
                    width: $zero;
                    height: $zero;
                }
            }
            .inner {
                position: relative;
                display: block;
                margin: $zero 10px;
                min-width: calc(33.333% - 20px);
                text-align: center;
                overflow: hidden;
                @include transition(all 0.5s ease-in-out 0s);
                @media (max-width: 999px) {
                    // min-width: 230px;
                }
                &:hover {
                    transform: scale(1.1);
                    // @include prefixer (box-shadow, 4px 4px 60px #00000073, webkit moz o ms);
                    z-index: 10;
                }
                .photo {
                    @include flex;
                    width: $fullwidth;
                    height: 218px;
                    img,
                    svg {
                        width: $fullwidth;
                        max-height: $fullwidth;
                    }
                }
                .title {
                    font-size: 15px;
                    line-height: 20px;
                    text-align: center;
                    margin-top: $com-spacing-3;
                }
            }
        }
        .carousel-indicators {
            margin: $zero;
            padding: $zero;
            bottom: $com-spacing-7;
            @media (max-width: 999px) {
                display: none;
            }
            li {
                width: 12px;
                height: 12px;
                border: $zero;
                @include border-radius(50%);
                background: #b1b1b1;
                &.active {
                    background: $blak;
                }
            }
        }
        .carousel-control-next,
        .carousel-control-prev {
            @include flex;
            width: 38px;
            height: 38px;
            top: 50%;
            opacity: 1;
            background: $blak;
            border-radius: 4px;
            @include transition(all 0.5s ease-in-out 0s);
            svg {
                width: 16px;
                height: 16px;
                fill: $white;
                @include transition(all 0.5s ease-in-out 0s);
            }
            &:hover {
                background: $blue;
            }
        }
        .carousel-control-next {
            right: -90px;
        }
        .carousel-control-prev {
            left: -90px;
            svg {
                @include rotate(180deg);
            }
        }
    }
    .burgundy {
        .item {
            .slid-img {
                background: #811429;
                border-right: 50px solid #811429;
            }
            p {
                color: #811429;
            }
        }
        .rowcompany {
            .inner {
                &:hover {
                    border: 1px solid #811429;
                }
                .icon {
                    svg {
                        fill: #811429;
                    }
                }
            }
        }
    }
    .red {
        .item {
            .slid-img {
                background: $red;
                border-right: 50px solid $red;
            }
            // p {
            //     color: $red;
            // }
        }
        .rowcompany {
            .inner {
                &:hover {
                    border: 1px solid $red;
                }
                .icon {
                    svg {
                        fill: $red;
                    }
                }
            }
        }
    }
    .blue {
        .item {
            .slid-img {
                background: #00aeef;
                border-right: 50px solid #00aeef;
            }
            // p {
            //     color: $red;
            // }
        }
        .rowcompany {
            .inner {
                &:hover {
                    border: 1px solid #00aeef;
                }
                .icon {
                    svg {
                        fill: #00aeef;
                    }
                }
            }
        }
    }
    .orange {
        .item {
            .slid-img {
                background: $orange;
                border-right: 50px solid $orange;
            }
            p {
                color: #00aeef;
            }
        }
        .rowcompany {
            .inner {
                &:hover {
                    border: 1px solid $orange;
                }
                .icon {
                    svg {
                        fill: #00aeef;
                    }
                }
            }
        }
    }
    .yellow {
        .item {
            .slid-img {
                background: #FAA61A;
                border-right: 50px solid #FAA61A;
            }
            // p {
            //     color: $red;
            // }
        }
        .rowcompany {
            .inner {
                &:hover {
                    border: 1px solid #00aeef;
                }
                .icon {
                    svg {
                        fill: #00aeef;
                    }
                }
            }
        }
    }
}

.services {
    @include section;
    .item {
        margin-top: $com-spacing-6;
        @media (max-width: 999px) {
            max-width: 50%;
            flex: 50%;
        }
        @media (max-width: 767px) {
            max-width: $fullwidth;
            flex: $fullwidth;
        }
    }
    .inner {
        display: block;
        position: relative;
        width: $fullwidth;
        height: $fullwidth;
        background: $white;
        padding: $com-spacing-8 $com-spacing-3;
        border-radius: 24px;
        text-align: center;
        border: 1px solid #D5DFF0;
        overflow: hidden;
        @include transition(all 0.5s ease-in-out 0s);
        @media (max-width: 999px) {}
        &:hover {
            border: 1px solid $orange;
            @include prefixer (box-shadow, 0px 4px 4px 0px #D9D9D9, webkit moz o ms);
            // .title {
            //     color: $blue;
            // }
        }
        .icon {
            @include flex;
            margin: $zero $auto;
            width: 120px;
            height: 120px;
            background: #f8f8fa;
            border-radius: 50%;
            img,
            svg {
                max-width: 68px;
                max-height: 68px;
            }
        }
        .title {
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            margin-top: $com-spacing-3;
            // @include transition(all 0.5s ease-in-out 0s);
        }
        p {
            font-size: 14px;
            text-align: center;
            margin-top: $com-spacing-2;
            @media (max-width: 999px) {}
        }
    }
    .bottom {
        min-width: 274px;
        margin-top: $com-spacing-9;
        @media (max-width: 999px) {
            min-width: 164px;
            margin-top: $com-spacing-6;
        }
    }
}

.distinguished {
    @include section;
    padding-bottom: 180px;
    @media (max-width: 999px) {
        padding-top: $zero;
        padding-bottom: 60px;
    }
    &::after {
        content: "";
        position: absolute;
        left: $zero;
        top: 300px;
        width: $fullwidth;
        height: calc(100% - 300px);
        background: #F3F8FF;
        z-index: -1;
        border-radius: 24px;
        @media (max-width: 999px) {
            height: $fullwidth;
            top: $zero;
        }
    }
    .container {
        @media (max-width: 999px) {
            max-width: $fullwidth;
            padding: $zero;
        }
    }
    .parallax-image {
        position: relative;
        border-radius: 24px;
        height: 640px;
        @media (max-width: 999px) {
            height: 350px;
            border-radius: $zero;
        }
    }
    .carousel {
        position: relative;
        width: $fullwidth;
        height: 640px;
        border-radius: 24px;
        margin-top: $com-spacing-6;
        overflow: hidden;
        @media (max-width: 999px) {
            height: 350px;
            border-radius: $zero;
        }
        .carousel-inner,
        .carousel-item {
            height: $fullwidth;
        }
        .slid-img {
            width: $fullwidth;
            height: $fullwidth;
            img {
                width: $fullwidth;
                height: $fullwidth;
                object-fit: cover;
            }
            &::after {
                @include overlay;
                background: linear-gradient(180deg, rgba(13, 14, 17, 0.14) 0%, #000000 100%);
            }
        }
        .item {
            display: flex;
            align-items: center;
            padding: $zero $com-spacing-8;
            height: $fullwidth;
            @media (max-width: 999px) {
                max-width: $fullwidth;
                flex: $fullwidth;
                padding: $zero $com-spacing-6;
                &:last-child {
                    display: none;
                    order: -1;
                    padding-left: $zero;
                }
            }
            .logo {
                margin-bottom: $com-spacing-3;
                img {
                    max-width: 256px;
                }
                @media (max-width: 999px) {
                    text-align: center;
                }
            }
            p {
                color: $white;
                @media (max-width: 999px) {
                    font-size: 14px;
                    text-align: center;
                    br {
                        display: none;
                    }
                }
            }
        }
        .rowcompany {
            display: flex;
            width: $fullwidth;
            @media (max-width: 999px) {
                padding: $com-spacing-8 $zero;
                overflow-x: scroll;
                &::-webkit-scrollbar {
                    width: $zero;
                    height: $zero;
                }
            }
            .inner {
                position: relative;
                display: block;
                margin: $zero 5px;
                background: $white;
                padding: $com-spacing-5 $com-spacing-3;
                border-radius: 12px;
                height: 178px;
                min-width: calc(33.333% - 10px);
                text-align: center;
                overflow: hidden;
                @include transition(all 0.5s ease-in-out 0s);
                @media (max-width: 999px) {
                    // min-width: 230px;
                }
                &:hover {
                    transform: scale(1.1);
                    @include prefixer (box-shadow, 4px 4px 60px #00000073, webkit moz o ms);
                    z-index: 10;
                    .title {
                        color: $blue;
                    }
                }
                .icon {
                    @include flex;
                    width: $fullwidth;
                    height: 68px;
                    img,
                    svg {
                        max-width: 68px;
                        max-height: 68px;
                    }
                }
                .title {
                    font-size: 15px;
                    line-height: 20px;
                    text-align: center;
                    margin-top: $com-spacing-6;
                    @include transition(all 0.5s ease-in-out 0s);
                }
            }
        }
        .rowitems {
            display: flex;
            width: $fullwidth;
            @media (max-width: 999px) {
                padding: $com-spacing-8 $zero;
                overflow-x: scroll;
                &::-webkit-scrollbar {
                    width: $zero;
                    height: $zero;
                }
            }
            .inner {
                position: relative;
                display: block;
                margin: $zero 10px;
                min-width: calc(33.333% - 20px);
                text-align: center;
                overflow: hidden;
                @include transition(all 0.5s ease-in-out 0s);
                @media (max-width: 999px) {
                    // min-width: 230px;
                }
                &:hover {
                    transform: scale(1.1);
                    // @include prefixer (box-shadow, 4px 4px 60px #00000073, webkit moz o ms);
                    z-index: 10;
                    .title {
                        color: $blue;
                    }
                }
                .photo {
                    @include flex;
                    width: $fullwidth;
                    height: 218px;
                    img,
                    svg {
                        width: $fullwidth;
                        max-height: $fullwidth;
                    }
                }
                .title {
                    font-size: 15px;
                    line-height: 20px;
                    text-align: center;
                    color: $white;
                    margin-top: $com-spacing-3;
                    @include transition(all 0.5s ease-in-out 0s);
                }
            }
        }
    }
    .description {
        margin-top: $com-spacing-9;
        @media (max-width: 999px) {
            margin-top: $com-spacing-7;
        }
    }
    .customers {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @media (max-width: 999px) {
            flex-wrap: inherit;
            justify-content: flex-start;
            overflow: hidden;
            overflow-x: scroll;
            &::-webkit-scrollbar {
                width: $zero;
                height: $zero;
            }
        }
        a {
            @include flex;
            min-width: 33.333%;
            max-width: 33.333%;
            height: 100px;
            padding: $zero $com-spacing-3;
            margin-top: $com-spacing-9;
            @media (max-width: 999px) {
                min-width: 156px;
                max-width: 156px;
                margin-top: $com-spacing-7;
            }
            img {
                max-width: 124px;
                max-height: 124px;
            }
        }
    }
    &.st-customers {
        padding: $com-spacing-9 $zero;
        margin-bottom: 120px;
        @media (max-width: 999px) {
            padding: $com-spacing-7 $zero;
            margin-bottom: $zero;
        }
        &::after {
            top: $zero;
            height: $fullwidth;
        }
        .description {
            margin: $zero;
        }
    }
}

.aboutinner {
    @include section;
    padding: $zero !important;
    @media (max-width: 999px) {}
    .photo {
        position: relative;
        width: $fullwidth;
        height: calc(100vh - 93px);
        background: $ofwhite;
        overflow: hidden;
        @media (max-width: 999px) {
            height: 70vh;
        }
        img {
            width: $fullwidth;
            height: $fullwidth;
            object-fit: cover;
        }
        &::after {
            @include overlay;
            background: linear-gradient(#00000000, #000000);
            @media (max-width: 999px) {}
        }
        .container {
            position: absolute;
            right: $zero;
            left: $zero;
            z-index: 1;
            bottom: $com-spacing-7;
        }
        .text {
            max-width: 55%;
            @media (max-width: 999px) {
                max-width: $fullwidth;
            }
            .title {
                color: $white;
                @media (max-width: 999px) {
                    font-size: 20px;
                }
            }
            p {
                color: $white;
                margin-top: $com-spacing-6;
                @media (max-width: 999px) {
                    font-size: 14px;
                    margin-top: $com-spacing-3;
                }
            }
        }
    }
}

.infoabout {
    margin-top: $com-spacing-8;
    @media (max-width: 999px) {
        margin-top: $com-spacing-6;
    }
    .item {
        @media (max-width: 999px) {
            max-width: $fullwidth;
            flex: $fullwidth;
            margin-bottom: $com-spacing-6;
            &:last-child {
                margin: $zero;
            }
        }
    }
    .inner {
        position: relative;
        width: $fullwidth;
        background: $white;
        border-radius: 24px;
        padding: $com-spacing-5;
        box-shadow: 0px 2px 12px 0px #1539801F;
        .experience {
            width: $fullwidth;
            text-align: center;
            img {
                max-width: $fullwidth;
            }
        }
    }
    .awards,
    .partners {
        margin-top: $com-spacing-6;
        .title {
            font-size: 28px;
            @media (max-width: 999px) {
                font-size: 24px;
            }
        }
        .subawards,
        .subpartners {
            display: flex;
            align-items: center;
            margin-top: $com-spacing-6;
            .photo {
                @include flex;
                min-width: 128px;
                max-width: 128px;
                height: 128px;
                background: $zero;
                border-radius: $zero;
                margin-left: $com-spacing-4;
                @media (max-width: 999px) {
                    min-width: 44px;
                    max-width: 44px;
                    height: 44px;
                }
                &::after {
                    display: none;
                }
                img {
                    width: auto;
                    height: auto;
                    max-width: $fullwidth;
                    max-height: $fullwidth;
                }
            }
            .title {
                font-size: 22px;
                @media (max-width: 999px) {
                    font-size: 16px;
                }
            }
            span {
                display: block;
                margin-top: $com-spacing-2;
                @media (max-width: 999px) {
                    font-size: 14px;
                    margin: $zero;
                }
            }
        }
    }
    .innertext {
        position: relative;
        width: $fullwidth;
        margin-bottom: $com-spacing-6;
        background: $white;
        border-radius: 24px;
        padding: 58px $com-spacing-5;
        border: 1px solid #D5DFF0;
        &:last-child {
            margin: $zero;
        }
        @media (max-width: 999px) {
            padding: 38px $com-spacing-4;
        }
        .minhead {
            @include flex;
            @media (max-width: 999px) {
                display: block;
            }
            .icon {
                @include flex;
                min-width: 120px;
                max-width: 120px;
                height: 120px;
                border-radius: 50%;
                background: #f0f2f4;
                margin-left: $com-spacing-3;
                @media (max-width: 999px) {
                    min-width: 84px;
                    max-width: 84px;
                    height: 84px;
                    margin: $zero $auto $com-spacing-3 $auto;
                }
                svg,
                img {
                    max-width: 80px;
                    max-height: 80px;
                    @media (max-width: 999px) {
                        max-width: 48px;
                        max-height: 48px;
                    }
                }
            }
            .title {
                color: $orange;
                font-size: 34px;
                @media (max-width: 999px) {
                    font-size: 26px;
                    text-align: center;
                }
            }
        }
        p {
            margin-top: $com-spacing-6;
            font-size: 24px;
            line-height: 50px;
            @media (max-width: 999px) {
                font-size: 20px;
                line-height: 38px;
            }
            b {
                font-size: 24px;
                color: $blak;
                @media (max-width: 999px) {
                    font-size: 20px;
                }
            }
        }
    }
}

.oursubsidiary {
    @include section;
    padding-top: $zero !important;
    .photo {
        position: relative;
        width: $fullwidth;
        height: calc(100vh - 93px);
        background: $ofwhite;
        // border-radius: 24px;
        overflow: hidden;
        @media (max-width: 999px) {
            height: 70vh;
        }
        img {
            width: $fullwidth;
            height: $fullwidth;
            object-fit: cover;
        }
        &::after {
            @include overlay;
            background: linear-gradient(#00000000, #000000);
            @media (max-width: 999px) {}
        }
        .container {
            position: absolute;
            right: $zero;
            left: $zero;
            z-index: 1;
            bottom: $com-spacing-7;
        }
        .text {
            max-width: 55%;
            @media (max-width: 999px) {
                max-width: $fullwidth;
            }
            .logo {
                img {
                    max-width: 244px;
                    @media (max-width: 1199px) {
                        max-width: 146px;
                    }
                }
            }
            .title {
                color: $white;
                @media (max-width: 999px) {
                    font-size: 20px;
                }
            }
            p {
                color: $white;
                margin-top: $com-spacing-6;
                @media (max-width: 999px) {
                    font-size: 14px;
                    margin-top: $com-spacing-3;
                }
            }
        }
    }
    .companies {
        margin-top: $com-spacing-8;
        @media (max-width: 999px) {
            margin-top: $com-spacing-6;
        }
        .title {
            text-align: center;
        }
        .listbtn {
            max-width: 60%;
            margin: $com-spacing-6 $auto $zero $auto;
            justify-content: center;
            @media (max-width: 999px) {
                max-width: $fullwidth;
            }
            a {
                margin: $com-spacing-3 $com-spacing-1 $zero $com-spacing-1;
                padding: $zero $com-spacing-4;
            }
        }
        .item {
            margin-top: $com-spacing-8;
            @media (max-width: 999px) {
                max-width: $fullwidth;
                flex: $fullwidth;
                margin-top: $com-spacing-6;
            }
            .inner {
                position: relative;
                width: $fullwidth;
                height: $fullwidth;
                border-radius: 24px;
                background: $white;
                border: 1px solid $blak;
                @include transition(all 0.5s ease-in-out 0s);
                overflow: hidden;
                &:hover {
                    @include prefixer (box-shadow, 4px 4px 40px #00000017, webkit moz o ms);
                    .photo {
                        img {
                            transform: scale(1.1);
                        }
                    }
                }
                .photo {
                    display: block;
                    width: $fullwidth;
                    height: 290px;
                    border-radius: $zero;
                    background: $ofwhite;
                    overflow: hidden;
                    @media (max-width: 999px) {
                        height: 194px;
                    }
                    img {
                        width: $fullwidth;
                        height: $fullwidth;
                        object-fit: cover;
                        @include transition(all 0.5s ease-in-out 0s);
                    }
                    &::after {
                        display: none;
                    }
                }
                .title {
                    font-size: 28px;
                    @include transition(all 0.5s ease-in-out 0s);
                    @media (max-width: 999px) {
                        font-size: 22px;
                    }
                    &:hover {
                        color: $blue;
                    }
                }
                p {
                    margin-top: $com-spacing-3;
                    @media (max-width: 999px) {
                        margin-top: $com-spacing-2;
                    }
                }
            }
        }
    }
    &.st-sharq,
    &.st-peninsula {
        .photo {
            &::after {
                // background: linear-gradient(180deg, rgba(13, 14, 17, 0.14) 0%, #0095DA 100%);
                background: linear-gradient(180deg, rgba(190, 190, 190, 0.1) 0%, rgba(222, 222, 222, 0.66249) 57.34%, rgba(95, 170, 204, 0.88) 79.52%, #0095DA 100%);
                @media (max-width: 999px) {}
            }
        }
    }
    &.st-alarab {
        .photo {
            &::after {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.14) 0%, #F8C55C 100%);
                @media (max-width: 999px) {}
            }
        }
        .newspaper-details .item {
            .img {
                background: linear-gradient(180deg, #ae7c49 0%, #c6a578 100%);
            }
            .follow {
                background: linear-gradient(90deg, #B48932 -0.01%, #B58C30 2.99%, #BC9033 5.99%, #FCC85D 27.99%, #FCC85D 42.99%, #D1A148 57.99%, #C79845 62.99%, #9F7E37 74.99%, #9F7E37 83.99%, #AA823C 97.99%, #B1873E 99.99%);
            }
            .bottom {
                border: 1px solid #B48932;
                color: #B48932;
                &:hover {
                    background: #B48932;
                    color: $white;
                }
            }
            .innertext .minhead,
            .subnewsparer .innertext {
                .icon {
                    background: #fff5e2;
                }
                .title {
                    span {
                        color: #EEA616;
                    }
                }
            }
        }
    }
    &.st-lusail {
        .photo {
            &::after {
                background: linear-gradient(180deg, rgba(0, 0, 0, 0.14) 0%, #EEA616 100%);
                @media (max-width: 999px) {}
            }
        }
        .newspaper-details .item {
            .img {
                background: linear-gradient(9.52deg, #EEA616 -9.77%, #edc473 110.97%);
            }
            .follow {
                background: #EEA616;
            }
            .bottom {
                border: 1px solid #EEA616;
                color: #EEA616;
                &:hover {
                    background: #EEA616;
                    color: $white;
                }
            }
            .innertext .minhead,
            .subnewsparer .innertext {
                .icon {
                    background: #fff5e2;
                }
                .title {
                    span {
                        color: #EEA616;
                    }
                }
            }
        }
    }
    .newspaper-details {
        margin-top: $com-spacing-8;
        @media (max-width: 999px) {
            margin-top: $zero;
        }
        .item {
            @media (max-width: 999px) {
                max-width: $fullwidth;
                flex: $fullwidth;
                &:first-child {
                    order: 2
                }
            }
            .img {
                @include flex;
                position: relative;
                width: $fullwidth;
                border-radius: 24px;
                background: #0095DA;
                padding: $com-spacing-9;
                margin-top: $com-spacing-6;
                overflow: hidden;
                @media (max-width: 999px) {
                    padding: $com-spacing-6;
                }
                img {
                    max-width: 70%;
                    max-height: 70%;
                }
                .title {
                    font-size: 30px;
                    @media (max-width: 999px) {
                        font-size: 22px;
                    }
                }
            }
            .follow {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                background: #0095DA;
                margin-top: $com-spacing-6;
                padding: $com-spacing-3;
                border-radius: 4px;
                p {
                    color: $white;
                    font-size: 14px;
                }
            }
            .bottom {
                border: 1px solid #0095DA;
                background: $white;
                color: #0095DA;
                width: $fullwidth;
                height: 54px;
                margin-top: $com-spacing-6;
                font-size: 16px;
                border-radius: 60px !important;
                &:hover {
                    background: #0095DA;
                    color: $white;
                }
            }
            .innertext {
                position: relative;
                width: $fullwidth;
                margin-top: $com-spacing-6;
                background: $white;
                border-radius: 24px;
                padding: 58px $com-spacing-3;
                border: 1px solid #D5DFF0;
                @media (max-width: 999px) {
                    padding: 38px $com-spacing-4;
                }
                .minhead {
                    @include flex;
                    @media (max-width: 999px) {
                        display: block;
                    }
                    .icon {
                        @include flex;
                        min-width: 120px;
                        max-width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        background: #e6f9ff;
                        margin-left: $com-spacing-3;
                        @media (max-width: 999px) {
                            min-width: 84px;
                            max-width: 84px;
                            height: 84px;
                            margin: $zero $auto $com-spacing-3 $auto;
                        }
                        svg,
                        img {
                            max-width: 80px;
                            max-height: 80px;
                            @media (max-width: 999px) {
                                max-width: 48px;
                                max-height: 48px;
                            }
                        }
                    }
                    .title {
                        color: $blak;
                        font-size: 30px;
                        @media (max-width: 999px) {
                            font-size: 22px;
                            text-align: center;
                        }
                        span {
                            color: #0095DA;
                        }
                    }
                }
                p {
                    margin-top: $com-spacing-4;
                    font-size: 24px;
                    @media (max-width: 999px) {
                        text-align: center;
                        font-size: 18px;
                    }
                    b {
                        font-size: 24px;
                        color: $blak;
                        @media (max-width: 999px) {
                            font-size: 18px;
                        }
                    }
                }
            }
            .subnewsparer {
                @media (max-width: 999px) {
                    max-width: $fullwidth;
                    flex: $fullwidth;
                }
                .innertext {
                    height: calc(100% - 24px);
                    .icon {
                        @include flex;
                        min-width: 120px;
                        max-width: 120px;
                        height: 120px;
                        border-radius: 50%;
                        background: #e6f9ff;
                        margin: $zero $auto $com-spacing-3 $auto;
                        @media (max-width: 999px) {
                            min-width: 84px;
                            max-width: 84px;
                            height: 84px;
                        }
                        svg,
                        img {
                            max-width: 80px;
                            max-height: 80px;
                            @media (max-width: 999px) {
                                max-width: 48px;
                                max-height: 48px;
                            }
                        }
                    }
                    .title {
                        color: $blak;
                        font-size: 30px;
                        text-align: center;
                        margin-top: $com-spacing-6;
                        @media (max-width: 999px) {
                            font-size: 22px;
                            text-align: center;
                        }
                    }
                    p {
                        text-align: center;
                        margin-top: $com-spacing-3;
                        font-size: 18px;
                        @media (max-width: 999px) {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
        .scroll {
            position: sticky;
            top: 120px;
        }
    }
    &.st-technology,
    &.st-alwaraq,
    &.st-administration,
    &.st-haweyah,
    &.st-topsolutions,
    &.st-tawseel {
        .item {
            .img {
                display: block;
                padding: $zero !important;
                height: 672px;
                @media (max-width: 999px) {
                    height: 400px;
                }
                img {
                    max-width: inherit;
                    max-height: inherit;
                    width: $fullwidth;
                    height: $fullwidth;
                    object-fit: cover;
                    object-position: top;
                }
                .text {
                    position: absolute;
                    left: $zero;
                    bottom: $zero;
                    background: #E7E9ED;
                    width: $fullwidth;
                    border-radius: 12px 12px $zero $zero;
                    padding: $com-spacing-5 $com-spacing-7;
                    z-index: 1;
                }
            }
            .follow {
                background: #EA1C25;
            }
            .bottom {
                border: 1px solid #EA1C25;
                color: #EA1C25;
                &:hover {
                    background: #EA1C25;
                    color: $white;
                }
            }
            .cont-alsharq {
                margin-top: $com-spacing-6;
                width: $fullwidth;
                // height: 512px;
                border-radius: 24px;
                overflow: hidden;
                img {
                    max-width: $fullwidth;
                    max-height: $fullwidth;
                    @media (max-width: 999px) {
                        width: $fullwidth;
                    }
                }
            }
            .col {
                @media (max-width: 999px) {
                    max-width: $fullwidth;
                    flex: $fullwidth;
                }
            }
        }
    }
    &.st-alwaraq {
        .photo {
            &::after {
                background: linear-gradient(180deg, rgba(0, 0, 0, 61%) 0.02%, #F48220 100%);
                @media (max-width: 999px) {}
            }
        }
        .item {
            .follow {
                background: $orange;
            }
            .bottom {
                border: 1px solid $orange;
                color: $orange;
                &:hover {
                    background: $orange;
                    color: $white;
                }
            }
        }
    }
    &.st-administration {
        .item {
            .follow {
                background: #7f1428;
            }
            .bottom {
                border: 1px solid #7f1428;
                color: #7f1428;
                &:hover {
                    background: #7f1428;
                    color: $white;
                }
            }
        }
    }
    &.st-haweyah {
        .item {
            .follow {
                background: $blak;
            }
            .bottom {
                border: 1px solid $blak;
                color: $blak;
                &:hover {
                    background: $blak;
                    color: $white;
                }
            }
        }
    }
    &.st-topsolutions {
        .item {
            .follow {
                background: #0072BC;
            }
            .bottom {
                border: 1px solid #0072BC;
                color: #0072BC;
                &:hover {
                    background: #0072BC;
                    color: $white;
                }
            }
        }
    }
    &.st-tawseel {
        .imgtawseel {
            position: relative;
            @include flex;
            padding: $zero !important;
            height: 672px;
            background: $white;
            margin-bottom: $com-spacing-6;
            @media (max-width: 999px) {
                height: 400px;
                margin-bottom: $zero;
            }
            img {
                max-width: $fullwidth;
                max-height: $fullwidth;
            }
            .text {
                position: absolute;
                left: $zero;
                bottom: $zero;
                background: #E7E9ED;
                width: $fullwidth;
                border-radius: 12px;
                padding: $com-spacing-5 $com-spacing-7;
                z-index: 1;
            }
        }
        .item {
            .follow {
                background: #FAA61A;
            }
            .bottom {
                border: 1px solid #FAA61A;
                color: #FAA61A;
                &:hover {
                    background: #FAA61A;
                    color: $white;
                }
            }
        }
    }
    .cont-lwaraq {
        margin-top: $com-spacing-6;
        width: $fullwidth;
        // height: 512px;
        border-radius: 24px;
        overflow: hidden;
        img {
            max-width: $fullwidth;
            max-height: $fullwidth;
            @media (max-width: 999px) {
                width: $fullwidth;
            }
        }
    }
    .infoabout {
        .inner {
            @include flex;
            min-height: 290px;
            @media (max-width: 999px) {
                min-height: inherit;
            }
        }
    }
}

.videoitem {
    position: relative;
    width: $fullwidth;
    height: 640px;
    border-radius: 24px;
    background: $blak;
    overflow: hidden;
    @media (max-width: 999px) {
        height: 350px;
        border-radius: $zero;
    }
    iframe,
    video {
        position: absolute;
        height: $fullwidth;
        width: $fullwidth;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        @media (max-width: 580px) {
            width: 184%;
        }
    }
}